/*    Clear paddings and margins    */
* {
    padding: 0;
    margin: 0;
}


/*    Main styles    */
body{
    background: rgb(20,28,218);
    background: linear-gradient(32deg, rgba(20,28,218,1) 0%, rgba(30,10,255,1) 61%, rgba(250,69,252,1) 86%);
}

body, .page-container, .container{
    width: 100%;
    min-height: 100vh;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

/*    Chat component    */
.content-container {
    width: 100%;
    margin: 60px;
}

.chat-container {
    background: lightgray;
    border-radius: 5px;
    height: 600px;
}

/*    Messages    */
.messages-box {
    background: #242628;
    border-radius: 5px 0 0 0;
    padding: 10px 10px 10px 20px;
    height: 90%;
    overflow-y: scroll;
}

.text-box {
    background: #505559;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    text-align: left;
    word-wrap: break-word;
}

.message {
    font-size: 0.9em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.user_date-wrapper {
    width: 100%;
    display: inline-flex;
}

.user-name, .date {
    font-size: 0.6em;
    color: darkgray;
    padding: 3px 10px 3px 10px;
}

.date {
    margin-left: auto;
}

/*    User and message inputs    */
.user-box {
    height: 10%;
}

.user{
    float: left;
    height: 100%;
    width: 30%;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-right: 2px solid black;
    font-weight: bold;
    word-wrap: break-word;
    border-radius: 0 0 0 5px;
}

.user-message, textarea {
    font-size: 0.9em;
    height: 100%;
    text-align: left;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

textarea {
    background: lightgray;
    border: none;
    width: 100%;
    resize: none !important;
}

/*    Send message button    */
#button {
    float: right;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 6px;
}

/*   Scrollbar    */
::-webkit-scrollbar {
    width: 10px;
    padding-right: 2px;
}

    /** Track **/
    ::-webkit-scrollbar-track {
        background: #242628;
    }

    /** Handle **/
    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: #888;
    }

    /** Handle on hover **/
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
}

@media(min-width: 600px) {
    .content-container {
        width: 80%;
    }
    .user {
        width: 15%;
    }
}

@media(min-width: 1000px) {
    .content-container {
        width: 60%;
    }
}